<header class="header">
  <nav>
    <div class="logo-container header-element">
      <div routerLink="">
        <img class="logo-image" src="/assets/logo.png" alt="" />
        <p style="margin: 0">GOVERNMENT'S STATISTICS</p>
      </div>
    </div>

    <div class="hamburger nav-cursor"
         (click)="toggleMenu()"
         [ngClass]="{ 'hamburger_active': menuIsActive } ">
      <span class="line line1 nav-cursor "></span>
      <span class="line line2 nav-cursor"></span>
      <span class="line line3 nav-cursor"></span>
    </div>

    <ul class="menu" [ngClass]="{ 'menu_active': menuIsActive } ">
      <li>
        <p class="nav-cursor" routerLink="{{ units.police.path }}">
          {{ unitsTitles.police.toString().toUpperCase() }}
        </p>
      </li>
      <li>
        <p class="nav-cursor" routerLink="{{ units.pupils.path }}">
          {{ unitsTitles.pupils.toString().toUpperCase() }}
        </p>
      </li>
      <li>
        <p class="nav-cursor" routerLink="{{ units.students.path }}">
          {{ unitsTitles.students.toString().toUpperCase() }}
        </p>
      </li>
      <li>
        <p class="nav-cursor" routerLink="{{ units.airport.path }}">
          {{ unitsTitles.airport.toString().toUpperCase() }}
        </p>
      </li>
      <li>
        <p class="nav-cursor" routerLink="{{ units.grocery.path }}">
          {{ unitsTitles.grocery.toString().toUpperCase() }}
        </p>
      </li>
      <li>
        <p class="nav-cursor" routerLink="{{ units.medStaff.path }}">
          {{ unitsTitles.medStaff.toString().toUpperCase() }}
        </p>
      </li>
    </ul>

    <div class="button-container header-element">
      <button class="button-secondary">Log Out</button>
    </div>
  </nav>
</header>
