.header {
  padding: 0 20px;
  text-align: center;
  background: #3a5696;
  font-size: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

p {
  color: white;
  letter-spacing: 0.5px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 15px;
}

a {
  text-decoration: none;
}

.logo-image {
  width: 30px;
}

.header-element {
  width: 20%;
  display: flex;
  align-items: center;
}

.button-container {
  justify-content: flex-end;
}

.logo-container {
  justify-content: flex-start;
  cursor: pointer;
}

.nav-cursor {
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 10px;
  left: 2px;
  z-index: 5;
  opacity: 1;
  cursor: pointer;
}

.menu input[type="checkbox"]:checked ~ .menu {
  left:0;
}

.menu input[type="checkbox"]:checked ~ .hamburger.line1 {
  transform: rotate(45deg);
}

.menu input[type="checkbox"]:checked ~ .hamburger.line2 {
  transform: scaleY(0);
}

.menu input[type="checkbox"]:checked ~ .hamburger.line3 {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 89px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

@media screen and (max-width: 1030px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89px;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(58, 86, 151, 1);
    transition: all 0.3s;
    cursor: pointer;
  }

  .menu_active {
    left: 0;
  }

  .menu li {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }

  .menu li p {
    font-size: 20px;
  }

  .hamburger {
    display: block;

    transform: translateY(-50%);
    width: 26px;
    cursor: pointer;
  }

  .hamburger span {
    display: flex;
    flex-direction: column;
    height: 2px;
    width: 100%;
    background-color: aliceblue;
    margin-bottom: 2px;
    transition: all 0.5s;
  }

  .hamburger_active span {
    margin-bottom: -2px;
  }

  .hamburger_active span:nth-child(1) {
    transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: rotate(45deg);
  }


  .hamburger.line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger.line2 {
    transition: transform 0.2s ease-in-out;
  }

  .hamburger.line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
  }
}
@media screen and (max-width: 350px){
  p{
    display: none;
  }
}

@media screen and (max-width: 500px){
  .menu {
    width: 100%;
    top: 89px;
  }
}
