:host {
  .unit-header {
    display: flex;
    align-items: center;
    margin-left: 30px;
    &__icon {
      width: 30px;
      height: 30px;
    }
    &__title {
      margin-left: 5px;
    }
  }
}
