.block {
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dashboard-page {
  display: flex;
  justify-content: space-around;
}

.airport{
  background-color: coral;
}

.grocery{
  background-color: cadetblue;
}

.medStaff{
  background-color: darkkhaki;
}

.pupils{
  background-color: cornflowerblue;
}

.students{
  background-color: orchid;
}

.police{
  background-color: sandybrown;
}

.nav-cursor{
  cursor: pointer;
}

