<div class="dashboard-page">
  <div class="block police">
    <img style="width: 20px" src="{{ units.police.icon }}" alt="" />
    <p class="nav-cursor">{{ units.police.title }}</p>
    <p class="nav-cursor">{{ units.police.number }}</p>
  </div>
  <div class="block pupils">
    <img style="width: 20px" src="{{ units.pupils.icon }}" alt="" />
    <p class="nav-cursor">{{ units.pupils.title }}</p>
    <p class="nav-cursor">{{ units.pupils.number }}</p>
  </div>
  <div class="block students">
    <img style="width: 20px" src="{{ units.students.icon }}" alt="" />
    <p class="nav-cursor">{{ units.students.title }}</p>
    <p class="nav-cursor">{{ units.students.number }}</p>
  </div>
  <div class="block airport">
    <img style="width: 20px" src="{{ units.airport.icon }}" alt="" />
    <p class="nav-cursor">{{ units.airport.title }}</p>
    <p class="nav-cursor">{{ units.airport.number }}</p>
  </div>
  <div class="block grocery">
    <img style="width: 20px" src="{{ units.grocery.icon }}" alt="" />
    <p class="nav-cursor">{{ units.grocery.title }}</p>
    <p class="nav-cursor">{{ units.grocery.number }}</p>
  </div>
  <div class="block medStaff">
    <img style="width: 20px" src="{{ units.medStaff.icon }}" alt="" />
    <p class="nav-cursor">{{ units.medStaff.title }}</p>
    <p class="nav-cursor">{{ units.medStaff.number }}</p>
  </div>
</div>
