:host {
  .excel-export {
    margin-left: 30px;
    &__form {
      display: flex;
      &__button {
        margin-left: 20px;
      }
    }
    &__message {
      margin-top: 20px;
    }
    [type="file"] {
      color: slategrey;
    }
    [type="file"]::-webkit-file-upload-button {
      background: #fff;
      border: 2px solid #3a5696;
      border-radius: 4px;
      color: #3a5696;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      padding: 10px 25px;
      text-transform: uppercase;
      transition: all 1s ease;
    }

    [type="file"]::-webkit-file-upload-button:hover {
      background: #3a5696;
      color: #fff;
    }
  }
}
